.slider .block span {
  letter-spacing: 1px;
  color: antiquewhite;
}

.counter-item .counter-stat {
  font-size: 2.2rem;
  font-family: 'Hind';
}

.counter-item.text-center{
  background: rgba(36, 36, 36, 0.34);
}

html {
  scroll-behavior: smooth;
}

.poem .card{
  border-width: 1rem;
  border-color: whitesmoke;
  padding: 1rem;
  background: black;
}

.poem .card h1{
  color: white;
}

.poem a{
  font-family: 'Ephesis';
  color: white;
  font-size: 2rem;
}

.poem a:hover{
 
  color: grey;
  font-size: 2rem;
}